<%=
  breadcrumbs(
    { 'Administration' => root_path },
    'Invitations'
  )
%>

<%= page_header('Invitations') %>

<table class="ui striped compact table">
  <thead class="stack-disappear">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Identifier</th>
      <th>Used</th>
      <th>Expires</th>
    </tr>
  </thead>

  <tbody>
    <%- @invitations.each do |invitation| -%>
      <tr>
        <td><%= invitation.name %></td>
        <td><%= invitation.mail %></td>
        <td><%= invitation.identifier %></td>
        <td>
          <%- if invitation.used? -%>
            <%= icon_tag('green checkmark') %>
            Used
          <%- else -%>
            <%= icon_tag('yellow warning sign') %>
            Pending
          <%- end -%>
        </td>
        <%- time_string = invitation.expires.strftime('%d/%m/%Y') -%>
        <%- if invitation.expired? -%>
          <td class="negative">
            <span class="stack-appear">Expired</span>
            <%= time_string %></td>
        <%- else -%>
          <td class="positive">
            <span class="stack-appear">Expires</span>
            <%= time_string %>
          </td>
        <%- end -%>
      </tr>
    <%- end -%>
  </tbody>
</table>
